.subscription__name-block {
    margin: 0;
    font-family: 'FuturaPT-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFF;
}